@page
@model DreamCars1.Pages.CarListModel
@{
    ViewData["Title"] = "Car List";
}

<div class="text-center">
    <h1 class="display-4">Dream Cars</h1>
</div>

<div class="row">
    @foreach (var car in Model.Cars)
    {
        <div id="carContainer" class="col-lg-3 col-md-6 col-sm-12">
            <img id="carImage" src="@car.carImg" alt="@car.carName">
            <span id="carTitle">@car.carName</span>
            <span id="carPrice">Rs. Coming Soon</span>
            <span><input id="carQuantity" type="number" name="quantity" value="" placeholder="0" /></span>
            <span id="cartButton"><button>Add to Cart</button></span>
        </div>
    }
</div>

